body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #F5F5F5;
}

.container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;   
}

.champs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h1{
    margin-bottom: 20px;
}

input[type="text"]{
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 50px;
}

button{
    background: transparent;
    cursor: pointer;
    margin-left: 5px;
    border: none;
}

ul{
    list-style-type: none;
    width: 100%;
    padding: 0;
}

ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F1F1F1;
    padding: 5px;    
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}

ion-icon{
    font-size: 20px;
    margin-right: 5px;
    background: midnightblue;
    padding: 0.5rem;
    color: #f1f1f1;
    border-radius: 50%;
}

.delete{
    background: crimson;
}

.modify{
    background: yellow;
    color: #333;
}

